.home {
    font-family: Arial, sans-serif;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #38e781;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00c6ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0099cc;
}

.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about p {
    font-size: 1rem;
    color: #555;
}

.projects {
    padding: 30px 30px;
    text-align: center;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.project-item p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.project-link {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project-link:hover {
    color: #0099cc;
}
